<app-header> </app-header> 
<div class="container">  
<div class="row">
      <div class="col s12 ">
        <div class="card-panel teal">
          <span class="white-text">
            <h5> to : {{mail.to}}</h5> 
            <h5> from : {{mail.from}}</h5> 
            <h5> object: {{mail.object}} </h5>
            <h5> contents </h5>
             <div class="row">
      <div class="col s12 m10">
        <div class="card-panel ">
          <span class="black-text">
             
             <p> Bonjour </p>
            <p>  {{mail.core }} </p>
            <p> Cordialement </p>
          </span>
        </div>
      </div>
    </div>
           

          </span>
        </div>
      </div>
    </div>
</div>