
<div class="container">
<h3> Enter mail and password </h3>
  <div class="row">
    
<form  #f="ngForm"
(ngSubmit)="onSubmit(f)">

        <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate"  name="mail" required ngModel>
          <label for="email">Email</label>
        </div>
      </div>
   
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" required ngModel>
          <label for="password">Password</label>
        </div>
      </div>
   
      <button class="btn waves-effect waves-light" type="submit"  [disabled]=!f.valid>Submit
    <i class="material-icons right">send</i>
  </button>
    </form>
  </div>
</div>
